@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.home-page {
  display: flex;
  flex-direction: column;

  .home-container {
    display: flex;
    flex-direction: row;

    .sections-container {
      width: 95%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
  

      .section {
        width: 95%;
        margin: 1rem auto;
        .subTitle {
          @include subTitle;
        }
      }
    }
  }
}
