@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.about-page {
  width: $laptop;
  margin: 1rem auto;

  .about-container {
    .title {
      @include title;
    }

    .about-contents {
      @include shadow3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

      .text-content {
        .sub-title {
          @include subTitle;
        }
        .paragraph {
          @include paragraph;
        }
      }

      .image-cotainer {
        padding: 1rem 0;
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $radius;
        }
      }
    }
  }
}
