@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.order-display-page {
  width: 100%;
  min-height: 100vh;
  margin: auto;

  .order-display-container {
    width: $laptop;
    margin: 1rem auto;

    .order-title {
      @include title;
    }

    .order-wrapper {
      display: grid;
      grid-template-columns: 60% 40%;
      column-gap: 1rem;
      row-gap: 1rem;

      .ordered-meals-infos {
        .ordered-meals {
          @include shadow;
          position: relative;

          .subTitle {
            @include subTitle;
          }

          .order-data {
            .order-wrapper {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              @include shadow3;
              place-items: center;

              .image-container {
                display: flex;
                gap: 1rem;
                height: 6rem;

                .image {
                  width: 10rem;
                  object-fit: cover;
                  border-radius: 0.2rem;
                  margin-bottom: 0.3rem;
                }
              }

              .subTitle {
                @include subTitle;
                padding: 0;
              }

              .paragraph {
                @include paragraph;
              }
            }
          }
        }

        // Payment method styling

        .payment-method {
          @include shadow3;
          position: relative;

          .subTitle {
            @include subTitle;
          }
          .paragraph {
            @include paragraph;
          }

          .not-yet-paid {
            @include paragraph;
            color: $red;
          }

          .not-yet-delivered {
            @include paragraph;
            color: $red;
          }
        }
      }

      // Order summary
      .order-summary {
        @include shadow3;
        height: max-content;

        .sutTitle {
          @include subTitle;
        }

        .order-summary-details {
          .summary-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .paragraph {
              @include paragraph;
            }
          }

          .total {
            font-weight: $aafw;
          }

          .horizontal-line {
            width: 100%;
          }
        }
        .order-btn {
          @include button;
          width: 100%;
        }

        .stripe-btn {
          @include button;
        }
      }
    }
  }
}
