@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.home-page {
  

  .home-container {
    display: flex;
    flex-direction: column;
    width: $laptop;
    margin: 1rem auto;
    gap: 1rem;

    .category {
     @include shadow3;
    }
  }
}
