@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.table-container {
  width: 100%;

  .delete-btn {
    @include btn2;
    background-color: $delete-bg;
  }

  .action-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .link {
      display: flex;
      align-items: center;
      color: $blue;

      &:hover {
        color: $title;
      }
    }

    .button {
      color: $red;
      cursor: pointer;

      &:hover {
        color: $red;
        border: none;
      }
    }
  }
}
