@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

// Bobile styling
.header {
  width: 100%;
  background-color: $header-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
 

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 1.4rem;

      .hobtom {
        color: #008000;
        font-weight: $lfw;
      }
      .okuba {
        color: #0000f8;
      }
      .kisanet {
        color: #01f83b;
      }
      .yohannes {
        color: #00008b;
        font-weight: $lfw;
      }
    }
  }

  // Navbar styling
  .navbar-container {
 

    .navbar-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      

      .navbar-item {
        padding: 0.6rem;
        border-bottom: 1px solid #f0b8e1;

        &:hover {
          background-color: #f0b8e1 ;
        }

        .active {
          position: relative;
          color: blue;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: #0000ff;
          }
        }

        .passive {
          color: #000000;
        }
      }
    }
  }

  // Active mode
  // .activeMode {
  //   right: 0px;
  // }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .login-register-order {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .active {
        position: relative;
        color: $header-fontColor;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 2px;
          background-color: $header-fontColor;
        }
      }
    }

    .cart-info {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      .active {
        position: relative;
        color: $header-fontColor;
        display: flex;
        align-items: center;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 2px;
          background-color: $header-fontColor;
        }

        .shopping-icon {
        }

        .quantity {
          position: absolute;
          top: -0.8rem;
          right: 0;
        }
      }

      .passive {
        position: relative;
        display: flex;
        align-items: center;

        .quantity {
          position: absolute;
          top: -0.8rem;
          right: 0;
          color: #ffffff;
        }
      }
    }

    .toggleMenu-icon {
      cursor: pointer;
    }
  }
}

