@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.meals-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .category {
    @include shadow3;

    .category-title {
      @include subTitle;
      padding-left: 0;
    }
    .image {
      width: 20rem;
      object-fit: cover;
    }

    .category-btn {
      @include btn2;
    }
  }
}
