@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.add {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: #83a8ecb8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .modal {
    position: relative;
    padding: 0 3rem;
    border-radius: 0.5rem;
    background-color: $main-bg;

    .close {
      position: absolute;
      top: 0.6rem;
      right: 1rem;
      cursor: pointer;

      &:hover {
        color: tomato;
      }
    }

    .title {
      @include title;
      margin-bottom: 1rem;
    }

    .imagePreview-form-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      // Meal Form
      .form {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: space-between;

        .input-container {
          width: 48%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 1rem;

          .input-field {
            padding: 10px;
            background-color: transparent;
            border: 1px solid $title;
          }

          .input-label {
            font-size: 14px;
          }
        }

        // Image container
        .file-input-container {
          position: relative;
          width: 48%;

          .file-field {
            border: 1px solid $title;
            opacity: 0;
            cursor: pointer;
          }

          .file-label {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: $afs;
            border: 1px solid $title;
            padding: 0.3rem;

            .icon {
              cursor: pointer;
            }
          }
        }

        .add-btn {
          @include button;
        }
      }

      // Meal image Prievew
      .photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    

        .image {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        }

        .update-image-btn {
          @include btn2;
          margin-top: 1rem;

          .icon {
            color: $title;
          }
        }
      }
    }
  }
}
