@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $navbar-bg;

  // Logo
  .logo {
    .church-name {
      text-decoration: none;
      font-size: $afs;
    }
  }

  // Search bar styling
  .search {
    width: 62%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $border;
    border-radius: $radius;
    background-color: white;
    padding: 0.3rem;

    .search-icon {
      cursor: pointer;
      margin-right: 1rem;
      font-size: 1.4rem;

      &:hover {
        color: $red;
      }
    }

    .navbar-input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0.5rem 1rem;
      font-size: $afs;

      &::placeholder {
        font-size: $afs;
      }
    }
  }

  // Icons stayling

  .icons-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2 rem;
    padding: 0 1rem;

    // Icons

    .icons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    // Notification

    .notification {
      padding: 0 2rem;
      position: relative;

      .bell {
      }
      .message-notification {
        position: absolute;
        top: -0.5rem;
        right: 1rem;
        color: white;
        background-color: red;
        width: 1.2rem;
        border-radius: 50%;
        text-align: center;
      }
    }

    // User

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0 2rem;

      .user-photo {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
