@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.comment-page {
  .comment-container {
    display: flex;
    flex-direction: row;

    .comments {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .title {
        @include title;
      }

      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;

        .comment {
          @include shadow3;
          position: relative;

          .subTitle {
            @include subTitle;
          }

          .paragraph {
            @include paragraph;

            .createdAt {
              display: block;

              .date {
                font-size: $sfs;
                color: $red;
                text-decoration: underline;
              }
            }

            .email {
              color: $title;
              text-decoration: underline;

              &:hover {
                color: $red;
              }
            }
          }

          .close {
            position: absolute;
            top: 0.2rem;
            right: 0.8rem;
            cursor: pointer;

            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }
}
