@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.carouselItem {
  @include shadow3;
  width: 23rem;
  height: 23rem;
  text-align: center;
  overflow: hidden;
}

.image {
  width: 65%;
  height: 50%;
  object-fit: cover;
  cursor: pointer;
}

.price {
  color: red;
  font-size: 22px;
  margin-top: 1rem;
  span {
    color: #333;
  }
}
.addToCart-btn {
  @include button;
}
