@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.meal-page {
  min-height: 100vh;
  .meal-container {
    width: $laptop;
    margin: 1rem auto;

    .title {
      @include title;
    }

    .meal-details {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .image-container {
        flex: 2;
        height: 30rem;

        .image {
          width: 100%;
          object-fit: cover;
          border-radius: $radius;
        }
      }

      // Wrapper for meal description and availability
      .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        //  Meal description
        .meal-description {
          @include shadow3;

          .subTitle {
            @include subTitle;
          }

          .paragraph {
            @include paragraph;
          }
        }

        // Meal Availability
        .meal-availability {
          @include shadow3;

          .subTitle {
            @include subTitle;
          }

          .rating-container {
            display: flex;
            gap: 1rem;
          }

          .status-container {
            margin-top: 1rem;
            & strong {
              margin-right: 1rem;
            }
            .in-stock {
              width: max-content;
              padding: 0.2rem 0.5rem;
              background-color: #9ceb9c;
              border-radius: 0.2rem;
            }

            .btn-container {
              margin-top: 1rem;

              .sigle-meal-btn {
                width: 100%;
                @include button1;
              }
            }

            .out-of-stock {
              width: max-content;
              padding: 0.2rem 0.5rem;
              border-radius: 0.2rem;
              background-color: $stock;
            }
          }
        }
      }
    }
  }
}
