@import './Variables.scss';

.app.ghost {
  //=======================================================
  // Home Page
  //=======================================================
  .home-page {
    background-color: $ghost-bg;
    color: $ghost-color;

    // Navbar
    .navbar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .logo {
        .church-name {
          color: $ghost-color;
        }
      }
    }

    // Sidebar
    .sidebar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .items {
        color: $ghost-color;

        .link-list-item {
          color: $ghost-color;

          &:hover {
            background-color: $ghost-bg;
            color: $red;
          }
        }
      }
    }

    // Revenue chart

    .recharts-text {
      stroke: $ghost-color;
      font-weight: $afw;
      font-size: $sfs;
    }
  }

  //=======================================================
  // List Pages
  //=======================================================

  .list-page {
    background-color: $navbar-ghost-bg;
    color: $ghost-color;
    // Navbar
    .navbar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .logo {
        .church-name {
          color: $ghost-color;
        }
      }
    }

    // Sidebar
    .sidebar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .items {
        color: $ghost-color;

        .link-list-item {
          color: $ghost-color;

          &:hover {
            background-color: #555;
            color: $red;
          }
        }
      }
    }

    .list-container {
      background-color: $ghost-bg;

      .title {
        color: $ghost-color;
      }

      .add-to-list {
        color: $ghost-color;
      }

      // Tables styling
      .MuiDataGrid-root {
        color: $ghost-color;
      }

      .MuiButtonBase-root {
        color: $ghost-color;
      }

      .MuiToolbar-root {
        color: $ghost-color;
      }
    }

    .reservation {
      background-color: $ghost-bg;
    }
  }

  //=======================================================
  // Comment Page
  //=======================================================

  .comment-page {
    background-color: $ghost-bg;
    color: $ghost-color;

    // Navbar
    .navbar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .logo {
        .church-name {
          color: $ghost-color;
        }
      }
    }

    // Sidebar
    .sidebar {
      background-color: $navbar-ghost-bg;
      color: $ghost-color;

      .items {
        color: $ghost-color;

        .link-list-item {
          color: $ghost-color;

          &:hover {
            background-color: #555;
            color: $red;
          }
        }
      }
    }

    // Comment
    .comment-container {
      .title {
        color: $ghost-color;
      }
      .wrapper {
        .comment {
          background-color: $comment-blog-bg;
        }
      }
    }
  }
}
